* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(230, 230, 230);
}



#navigation {
        padding: 20px;

}


#navigation a {
    color: black;
    font-style: italic;

}



.account-form-title {
    background-color: black;
    text-align: left;
    height: 40px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;

    
}

.login-form {
    text-align: center;
    height: 300px;
    width: 500px;
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 70px;
}

.login-form button {
    font-size: 16px;
    padding: 10px;
    background-color: rgb(56, 73, 170);
    border-radius: 2em;
    border: black 2px solid;
    width: 100px;
    color: white;

}


.login-form button:hover {
color: grey;
transition-duration: 0.4s;
}

.login-form input {
    min-width: 275px;
    min-height: 30px;
    margin: 15px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
    padding: 5px;
}


.login-form input::placeholder{
    color: rgba(128, 128, 128, 0.226);
}

#register-or-login {
    color: black;
    font-style: bold;
}

#register-or-login:hover {
color: grey;
font-style: italic;
}


/* LOGIN FORM ^ */

.post {
    background-color: white;
    height: 460px;
    width: 375px;
    margin: 10px;
} 

.post-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-top: 20px;
    box-shadow: 8px 3px 3px 3px rgba(0, 0, 0, 0.089);


}

.profile-post {
    background-color:red;
    background-color: white;
    height: 375px;
    width: 375px;
    margin: 10px;
}

.profile-post p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 10px;
}


#post-title { 
    background-color: rgb(116, 158, 221);
    padding: 10px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 8px solid rgb(230, 230, 230);
    color: white;
}

.post p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

#post-header {
    text-align: center; 
    background-color: rgb(230, 230, 230);
    margin-top: 30px;
    border-bottom: grey 1px solid;
    padding: 10px;
}


#created-at{
    font-size: .7em;
    text-align: right;
}


#text {
    overflow: scroll;
}


textarea {
    width: 350px;
    resize: none;
    height: 30px;
}

#send-message-form {
    padding-left: 14px;
    margin-top: 10px;
}

#send-message-button {
    font-size: 10px;
    padding: 5px;
    border: none;
    color: rgb(56, 73, 170);
    background-color: white;
    padding-left: 270px;

    
}

#send-message-button:hover {
color: grey;
transition-duration: 0.4s;
cursor: pointer;
}

#delete-button {
    font-size: 10px;
    padding: 5px;
    border: none;
    color: rgb(56, 73, 170);
    background-color: white;
    padding-left: 305px;
    cursor: pointer;
}


#add-post {
    border: none;
    color: rgb(56, 73, 170);
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
    
}

#add-post:hover{
    color: grey;
transition-duration: 0.4s;
}

/*POSTS*/




/* .messages-to-me {
    background-color: grey;
}

.messages-from-me {
background-color: red;
} */